.row
  .col-xs-12.col-sm-3
    .thumbnail
      = image_tag avatar_url(report.user, {size: 80}), class: 'img-circle'
  .col-xs-12.col-sm-9
    .report
      = link_to report.title, report, class: 'h1'
      .mic-info
        = "By: #{report.user_email}"
        %br
        = "on #{report.date}"
        %br
        = "with #{report.pictures.count } pictures"
      .action
        - if @can_vote
          - love_for_this_report = current_user.love_for_report report
          - (1..UserLoveReport::MAX_LOVE_PER_MONTH).each do |num|
            %a.btn.btn-xs.love{title: "#{ num } love", hrref: '#', class: love_class(num, love_for_this_report), data: { url: toggle_love_path(id: report, value: num) } }
              %span.glyphicon.glyphicon-heart
              %span= num
          = "#{ (@last_day - Date.today).to_i } days to vote."
        - else
          %span.label{title: 'Love', class: current_user.user_love_reports.where(report_id: report.id).first ? 'label-danger' : 'label-default' }
            %span.glyphicon.glyphicon-heart
            %span.love= report.love
