.row
  .col-xs-12.col-sm-3
    .thumbnail
      = image_tag avatar_url(report.user, {size: 80}), class: 'img-circle'
  .col-xs-12.col-sm-9
    .report
      = link_to report.title, report, class: 'h1'
      .mic-info
        = "By: #{report.user_email}"
        %br
        = "on #{report.date}"
        %br
        = "with #{report.pictures.count } pictures"
      .action
        - if is_current_month
          %a.btn.btn-xs.love{title: 'Love', hrref: '#', class: current_user.user_love_reports.where(report_id: report.id).first ? 'btn-danger' : 'btn-default', data: { url: toggle_love_report_path(report) }}
            %span.glyphicon.glyphicon-heart
            %span.love= report.love
        - else
          %span.label{title: 'Love', class: current_user.user_love_reports.where(report_id: report.id).first ? 'label-danger' : 'label-default' }
            %span.glyphicon.glyphicon-heart
            %span.love= report.love
