= form_for @report do |f|
  - if @report.errors.any?
    #error_explanation
      %h2= "#{pluralize(@report.errors.count, "error")} prohibited this report from being saved:"
      %ul
        - @report.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control', placeholder: 'How was your day?'
  .form-group
    = f.label :body
    = f.text_area :body, class: 'form-control counted', placeholder: 'Type in your adventure!', rows: 10
    %h6.pull-right{ id: 'counter'}270 characters remaining
  .form-group
    = f.label :date
    = f.date_select :date, value: Date.today.strftime('%m-%d-%Y')
  .actions
    = f.submit 'Save'
