= form_for report do |f|
  .btn-group{ data: { toggle: 'buttons' } }
    %label.btn.btn-primary{ class: report.published ? 'active' : nil }
      = f.radio_button :published, :true, checked: report.published
      Published
    %label.btn.btn-primary{ class: !report.published ? 'active' : nil }
      = f.radio_button :published, :false, checked: !report.published
      Unpublished
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control', placeholder: 'How was your day?'
  .form-group
    = f.label :body
    = f.text_area :body, class: 'form-control counted', placeholder: 'Type in your adventure!', rows: 10
    %h6.pull-right{id: 'counter', data: { default: Report.max_chars }}
      = "#{Report.max_chars} characters remaining"
  .form-group
    = f.label :date
    = f.date_select :date, value: Date.today.strftime('%m-%d-%Y'), class: 'form-control'
  .form-group
    = f.label :pictures
    .select-pictures.btn-group{"data-toggle" => "buttons"}
      - report.pictures.each do |p|
        =render 'partials/picture_checkbox', { picture: p, checked: true }
      - unless pictures.empty?
        - pictures.each do |p|
          =render 'partials/picture_checkbox', { picture: p, checked: false }
  .actions
    = f.submit 'Save', class: 'btn btn-success btn-large'
