%h1 Listing reports

%table
  %tr
    %th User
    %th Body
    %th Title
    %th Date
    %th
    %th
    %th

  - @reports.each do |report|
    %tr
      %td= report.user.email
      %td= report.title
      %td= report.date
      %td= link_to 'Show', report

%br

= link_to 'New Report', new_report_path
