%h1= "Reports from #{ Date.today.strftime("%B") }"
.reports
  - @reports.each do |report|
    %ul.list-group
      %li.list-group-item
        .row
          .col-xs-2.col-md-2
            = image_tag avatar_url(report.user, {size: 80}), class: 'img-circle'
          .col-xs-10.col-md-10
            %div
              = link_to report.title, report, class: 'h1'
              .mic-info
                = "By: #{report.user.email } on #{ report.date }"
            .action
              %a.btn.btn-xs.love{title: 'Love', hrref: '#', class: current_user.user_love_reports.where(report_id: report.id).first ? 'btn-danger' : 'btn-default', data: { url: toggle_love_report_path(report) }}
                %span.glyphicon.glyphicon-heart
