%p#notice= notice

%p
  %b Title:
  = @report.title
%p
  ="By: #{ @report.user.email } on #{ @report.date }"
%p
  = @report.body
%p
  - @report.pictures.each do |p|
    =image_tag p.file

= link_to 'Back', reports_path
